@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html,
body {
  background: white !important;
  color: black !important;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* NADPISY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald);
  font-weight: 400;
  letter-spacing: 0.02em;
}

/* ANIMÁCIA OBRÁZKOV */

@keyframes smoothImageReveal {
  from {
    opacity: 0;
    transform: scale(1.015);
    filter: blur(4px);
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.animate-imageReveal {
  animation: smoothImageReveal 0.9s cubic-bezier(0.22, 1, 0.36, 1)
    forwards;
}